# Archivos compilados de Python
__pycache__/
.env
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/

# VS Code
.vscode/

# Archivos del sistema
Thumbs.db
.DS_Store
.venv-libs/
output/
artifacts/
